SELECT 
    dc.GROUP_TYPE_E_RAN_HFA_CV_SCV.EVENT_ID as EVENT_ID,
    dc.GROUP_TYPE_E_RAN_HFA_CV_SCV.EXCEPTION_CLASS as EXCEPTION_CLASS,
    dc.GROUP_TYPE_E_RAN_HFA_CV_SCV.CAUSE_VALUE as CAUSE_VALUE,
    dc.GROUP_TYPE_E_RAN_HFA_CV_SCV.SUB_CAUSE_VALUE as SUB_CAUSE_VALUE
FROM 
    dc.GROUP_TYPE_E_RAN_HFA_CV_SCV 
WHERE 
    dc.GROUP_TYPE_E_RAN_HFA_CV_SCV.GROUP_NAME = 'WHITELIST'