 select
     dc.DIM_E_RAN_RNCFUNCTION.rncId,
    dc.DIM_E_SGEH_HIER321_CELL.CID,
    dc.DIM_E_SGEH_HIER321_CELL.SCRAMBLINGCODE,
    dc.DIM_E_RAN_RNCFUNCTION.RNC_ID
    from
    dc.DIM_E_SGEH_HIER321,
    dc.DIM_E_SGEH_HIER321_CELL,
    dc.DIM_E_RAN_RNC,
    dc.DIM_E_RAN_RNCFUNCTION
where
    dc.DIM_E_SGEH_HIER321.HIER321_ID = dc.DIM_E_SGEH_HIER321_CELL.HIER321_ID and
    dc.DIM_E_SGEH_HIER321.HIERARCHY_3 = dc.DIM_E_RAN_RNC.ALTERNATIVE_FDN and
    dc.DIM_E_RAN_RNC.RNC_FDN          = dc.DIM_E_RAN_RNCFUNCTION.SN
     AND dc.DIM_E_SGEH_HIER321.MODIFIED > $lastUpdateTime
order by
    dc.DIM_E_RAN_RNCFUNCTION.rncId,
    dc.DIM_E_SGEH_HIER321_CELL.CID ;